<html>
    <head>
        <title>Recipe Categories</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Category Name</th>
                <th>View Recipes</th>
            </tr>
            {% for category in categories.keys()|sorted: %}
                <tr>
                    <td>{{category}}: {{categories[category]|count}} recipes</td>
                    <td><a href="{{url_for('category', id=category)}}">Show</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
