<html>
    <head>
        <title>Recipe Categories</title>
        <style>
.category {
     padding-left: 10px;
     padding-right: 10px;
}
        </style>
    </head>
    <body>
        <h1>Categories</h1>
        {% include "includes/nav.html" %}
        <table>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            {% for category in categories.keys()|sorted: %}
                <tr>
                    <td class="category">{{category}}</td>
                    <td><a href="{{url_for('category', id=category)}}">
                        View {{categories[category]|count}} recipes</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
