<html>
    <head>
        <title>{{title}}</title>
        <style>
IMG {
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    border: 0px;
}

.recipe-card {
    width: 320px;
    height: 300px;
    text-align: center;
    float: left;
    margin-bottom: 15px;
    border: 1px dotted #000000;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        {% include "includes/nav.html" %}
        {% for recipe in recipes.keys()|sorted: %}
            <div class="recipe-card">
                <a href="{{url_for('recipe', id=recipe)}}">
                {% if recipes[recipe].get('image'): %}
                    <img src="{{recipes[recipe].get('image')}}"/><br/>
                {% endif %}
                <strong>{{recipes[recipe]['title']}}</strong></a><br/>
            </div>
        {% endfor %}
    </body>
</html>
